/*.jqxtree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.jqxtree li::before, .jqxtree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.jqxtree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.jqxtree li::after {
    border-top:1px solid #999;
    height:20px;
    top:29px;
    width:25px
}*/
.jqxtree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:4px 7px 1px 7px;
    text-decoration:none;
    /*margin-top:7px;*/
}
.jqxtree li.parent_li>span {
    cursor:pointer
}
.jqxtree>ul>li::before, .jqxtree>ul>li::after {
    border:0;
}
.jqxtree li:last-child::before {
    height:30px
}
.jqxtree li.parent_li>span:hover, .jqxtree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}