::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

textarea {
    min-height: 150px
}

::-webkit-input-placeholder {
    font-style: italic
}

:-moz-placeholder {
    font-style: italic
}

::-moz-placeholder {
    font-style: italic
}

:-ms-input-placeholder {
    font-style: italic
}

.dashboard-logo {
    display: inline-block;
    padding: 5px 0
}

.dashboard-logo img {
    border-radius: 100%;
    margin: 0;
    float: left
}

.company-name {
    position: relative;
    top: 15px;
    left: 10px;
    font-weight: 700
}

.orgchart .second-menu-icon {
    transition: opacity .5s;
    right: -5px;
    top: -5px;
    z-index: 2;
    color: rgba(68, 157, 68, .5);
    font-size: 18px;
    position: absolute;
    visibility: hidden
}

.orgchart .second-menu-icon:hover {
    color: #449d44
}

.orgchart .node:hover .second-menu-icon {
    opacity: 1
}

.orgchart .node .second-menu {
    border-radius: 35px;
    box-shadow: 0 0 10px 1px #999;
    display: none;
    position: absolute;
    right: 41px;
    top: -40px;
    z-index: 1
}

.orgchart .node .second-menu .avatar {
    border-radius: 30px;
    float: left;
    height: 40px;
    margin: 2px;
    width: 40px
}

.switch-custom-pos {
    font-size: 16px;
    position: relative;
    top: -11px
}

.inline-extend {
    display: inline!important
}

.auditadd,
.month,
.period a {
    display: inline-block
}

.period a {
    background: #357ac0;
    border-radius: 4px;
    color: #fff;
    height: 35px;
    line-height: 25px;
    margin: 5px;
    padding: 5px;
    vertical-align: middle;
    width: 65px
}

.period {
    padding: 15px 0;
    text-align: center
}

.month {
    font-size: 18px
}

.calendar table tr td {
    border: 1px solid #dadada;
    text-align: center;
    position: relative
}

.calendar table tr td a {
    display: inline-block;
    font-size: 16px;
    font-weight: 700
}

.text-system-faded {
    color: #9bbfe4
}

.auditadd {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.admin-form .audit-edt .checkbox,
.admin-form .audit-edt .radio {
    background: 0 0
}

.admin-form .audit-edt li.active .checkbox {
    color: #fff
}

.admin-form .audit-edt .open>.dropdown-menu {
    display: block;
    width: 250px
}

.ui-timepicker-wrapper {
    width: 21.5em!important
}

.auditPreparation .field-label {
    color: #333;
    font-size: 20px!important;
    padding-bottom: 5px
}

.admin-form .panel-body {
    border: 0
}

.memberbox .box1 label,
.memberbox .box2 label {
    font-size: 17px;
    margin-bottom: 7px;
    color: #4d8dce
}

.bootstrap-duallistbox-container.moveonselect .moveall,
.bootstrap-duallistbox-container.moveonselect .removeall {
    background: #4d8dce;
    color: #fff;
    margin: 0!important;
    width: 100%
}

.panel-title h3 {
    margin-top: 7px!important
}

.nogap {
    margin: 5px 0
}

.text-default {
    color: #fff!important
}

.nano-pane {
    overflow-y: scroll!important
}

.immidiate_functions,
.immidiate_functions-del {
    height: 35px;
    width: 35px
}

.switch-extended {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px
}

.switch-extended input {
    display: none
}

.slider-extended {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.pointer,
.turtle-board ul li {
    cursor: pointer !important
}

.slider-extended:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked+.slider-extended {
    background-color: #4D8DCE
}

input:focus+.slider-extended {
    box-shadow: 0 0 1px #2196F3
}

input:checked+.slider-extended:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.slider-extended.round {
    border-radius: 34px
}

.slider-extended.round:before {
    border-radius: 50%
}

.custom-tooltip[data-tooltip] {
    position: relative
}

.custom-tooltip[data-tooltip]::before {
    background-color: #4D8DCE;
    border-radius: 3px;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    left: 50%;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-left: -146px;
    padding: 7px;
    position: absolute;
    text-align: center;
    width: 160px;
    white-space: normal;
}

.custom-tooltip[data-tooltip]::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4D8DCE;
    bottom: 100%;
    content: " ";
    font-size: 0;
    left: 50%;
    line-height: 0;
    margin-left: -5px;
    position: absolute;
    width: 0
}

.custom-tooltip[data-tooltip]:hover::after,
.custom-tooltip[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible
}

.custom-tooltip[data-tooltip]::after,
.custom-tooltip[data-tooltip]::before {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

.turtleBox {
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-bottom: 20px
}

.turtleBox .header,
.turtleBox .header .addBtn {
    border-top-right-radius: 4px;
    color: #fff;
    height: 30px;
    line-height: 30px
}

.turtleBox .header {
    background: #4D8DCE;
    border-top-left-radius: 4px;
    font-size: 13px;
    padding: 0 5px;
    position: relative
}

.margin-extended,
.pos-absolute {
    position: absolute
}

.turtleBox .header .addBtn {
    background: #437BB4;
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px
}

.turtleBox ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 136px
}

.turtleBox ul li {
    list-style: none;
    padding: 5px 10px;
    word-break: break-all
}

.turtleBox ul li:nth-child(2n+1) {
    background: #d9d9d9
}

.turtleBox ul li:nth-child(2n) {
    background: #e6e6e6
}

.turtleBox ul li:hover {
    background-color: #94BAE1
}

.admin-form .panel-body .section {
    margin-bottom: 15px
}

.admin-form .panel-body .section-divider {
    margin-bottom: 25px;
    margin-top: 40px
}

.row.repeter {
    margin-bottom: 15px
}

.functions,
.functions-del {
    height: 35px;
    width: 35px
}

#content.table-layout>div,
#content.table-layout>section {
    padding: 9px 20px 50px!important
}

.sitemapicon {
    display: inline-block;
    vertical-align: middle;
    width: 16px
}

.sitemapicon .fa {
    display: block
}

.display-block,
.docContainercls li {
    display: inline-block
}

#datatable2 td {
    padding: 5px 15px !important;
    text-align: left
}

#datatable2 tbody tr:nth-child(2n+1) td {
    background: #e7e7e7
}

.panel-heading {
    padding: 5px 10px;
    height: auto!important;
    line-height: 25px
}

.exhight {
    height: 40px!important
}

label.required:after {
    color: red;
    content: " *"
}

.margin-extended {
    right: 2%;
    width: 50%
}

.left50 {
    left: -50px
}

.chart-print-date,
.chart-print-logo,
.lbl-extended,
.pos-relative {
    position: relative
}

.pad-90014 {
    padding: 9px 0 0 14px
}

.lbl-extended {
    font-size: 16px;
    top: -11px
}

.min-hght {
    min-height: 38px
}

.justified {
    text-align: justify
}

.modal-header-extended {
    background-color: #4D8DCE;
    color: #fff
}

.mw625 {
    max-width: 625px
}

.mleft46 {
    margin-left: 46%
}

.second-menu-extended {
    padding: 5px;
    border-radius: 5px!important;
    text-align: left;
    width: 100%;
    right: 0!important;
    top: 34px!important;
    font-size: 10px;
    background: #fff;
    border: 1px solid
}

.chart-print-logo {
    left: 350px;
    height: 60px
}

.chart-print-date {
    left: 420px;
    height: 60px
}

.default-page-width-extended {
    width: 27%;
    margin-right: 37%
}

.alert-width-extended {
    width: 37%
}

.top11 {
    top: -11px
}

.top17 {
    top: -17px
}

.prof-modal-header-extended {
    background-color: #4D8DCE;
    color: #fff
}

.ml25-extended {
    margin-left: -25px
}

.doc-del-btn {
    left: 60%;
    position: absolute;
    top: 20%;
    z-index: 1
}

.w-wrap-extended {
    word-wrap: break-word
}

.bbw {
    border-bottom: 1px solid #fff
}

.pt3 {
    padding-top: 3px
}

.bw {
    border: 1px solid #fff
}

.back4a,
.backff {
    border: 2px solid #FFF
}

.seperated {
    border-collapse: separate
}

.backe8 {
    background-color: #E8E8E8
}

.back4d {
    background-color: #4D8DCE
}

.default {
    cursor: default!important
}

.dot,
.node {
    cursor: pointer
}

.w-a {
    width: auto!important
}

.z2 {
    z-index: 2
}

.table-responsive {
    overflow-x: auto;
    overflow-y: hidden
}

.backff {
    background-color: #F90
}

.back4a {
    background-color: #4CAF50
}

.pos-extended {
    position: absolute;
    bottom: 0;
    right: 0
}

@media only screen and (max-width:767px) {
    .back4a,
    .backff {
        border: 2px solid #FFF
    }
    .backff {
        background-color: #F90
    }
    .back4a {
        background-color: #4CAF50
    }
    .pos-extended {
        position: absolute;
        bottom: 0;
        right: 0
    }
}

.sidebar-left-content {
    margin-right: 0!important
}

.docContainercls {
    padding: 0
}

.docContainercls li {
    list-style: none;
    padding: 0 8px 8px;
    vertical-align: top
}

.docContainercls li .doctypecls {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    vertical-align: top
}

.docContainercls li .doctypecls a {
    display: block;
    left: 30%;
    position: absolute;
    text-align: center;
    top: 39%;
    transform: translate(-50%, -50%)
}

.executionDocView {
    display: inline-block;
    position: relative
}

.executionDocView span.text-danger {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 27px
}

.highcharts-contextmenu div hr {
    margin: 10px 0!important
}

.highcharts-contextmenu div div {
    margin: 5px 0;
    padding: 5px 10px!important
}

.downLine.assistantOuter {
    background-color: #000;
    float: none;
    height: 40px;
    margin: 4px 59px;
    width: 1px!important
}

.downLine.assistantOuter::after {
    content: "-";
    position: relative;
    top: 29px
}

.dashboard-cockpit-chart {
    min-width: 410px;
    height: 310px;
    max-width: 450px;
    margin: 0 auto
}

.admin-form .switch-round>input:checked+label::after,
.admin-form .switch-round>label::after {
    color: #fff
}

.faded {
    opacity: .5
}

@media only screen and (max-width:767px) {
    .row.repeter .field.select {
        margin-bottom: 15px
    }
}

.risk_section div {
    margin-bottom: 15px
}

.risk_section label.field {
    width: 86%;
    float: left
}

.risk_section div .btn {
    margin: 1px 5px;
    height: 38px!important;
    width: 35px!important
}

.legend {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 300px;
    text-align: left
}

.legend span {
    display: inline-block;
    padding: 5px 10px 5px 20px;
    position: relative;
    text-transform: capitalize;
    width: 48%
}

.legend span::before {
    position: absolute;
    content: "";
    left: 0;
    width: 15px;
    height: 15px;
    background: red;
    top: 7px
}

.legend span.cross::before {
    background: 0 0;
    content: "x";
    font-weight: 700;
    top: 6px
}

.legend span.greencls::before {
    background: #4CAF50
}

.legend span.orangecls::before {
    background: #F90
}

.legend span.dtecls::before {
    background: url(../image/calendar.png) no-repeat;
    width: 16px;
    height: 16px
}

.timeline_tab {
    padding: 30px;
    width: 1000px;
    margin: 0 auto
}

.timeline_tab .nav-tabs {
    border: none;
    position: relative;
    text-align: center
}

.timeline_tab .nav-tabs li {
    display: inline-block;
    float: none;
    width: 24%
}

.timeline_tab .nav-tabs li a {
    border: none;
    background: 0 0;
    position: relative
}

.timeline_tab .nav-tabs li a:focus,
.timeline_tab .nav-tabs li a:hover {
    background: 0 0;
    border: none;
    color: #333
}

.timeline_tab .nav-tabs::before {
    position: absolute;
    height: 2px;
    width: 74%;
    background: #ccc;
    left: 50%;
    top: -6px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%)
}

.timeline_tab .nav-tabs.one::before {
    width: 0
}

.timeline_tab .nav-tabs.two::before {
    width: 24%
}

.timeline_tab .nav-tabs.three::before {
    width: 49%
}

.timeline_tab .nav-tabs li a::before {
    width: 20px;
    height: 20px;
    position: absolute;
    content: "";
    background: #fff;
    border: 2px solid #4D8DCE;
    border-radius: 100%;
    left: 50%;
    top: -15px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%)
}

.timeline_tab .nav-tabs li.proactive a::before {
    background: #4D8DCE
}

.timeline_tab .nav-tabs li a::after {
    background: #4D8DCE;
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: -105px;
    top: -6px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.timeline_tab .nav-tabs li:nth-child(2).proactive a::after,
.timeline_tab .nav-tabs li:nth-child(3).proactive a::after,
.timeline_tab .nav-tabs li:nth-child(4).proactive a::after {
    width: 210px
}

@media only screen and (max-width:767px) {
    .legend {
        position: static;
        width: 100%;
        padding: 10px 5px;
        font-size: 11px
    }
}

.row.blueBoxline .col-md-6 {
    border-bottom: 5px solid #4d8dce;
    border-right: 5px solid #4d8dce;
    padding-top: 10px
}

.row.blueBoxline .col-md-6:last-child {
    border-right: 0
}

.row.noborderbottom .col-md-6 {
    border-bottom: 0
}

.row.blueBoxline .panel {
    height: 198px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 50px;
    margin-bottom: 10px
}

.row.blueBoxline .panel .panel-heading {
    margin-bottom: 10px;
    text-align: center
}

.row.blueBoxline .panel .panel-body {
    border: none;
    padding: 0;
    text-align: center
}

.row.blueBoxline .panel .panel-body ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0);
    border-color: red;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    color: #333!important;
    display: inline-block;
    margin-bottom: 5px
}

.row.blueBoxline .pl5 {
    padding-left: 0!important
}

.row.blueBoxline .pr5 {
    padding-right: 0!important
}

.navbar-branding {
    background-color: #F5F5F5!important
}

.text-tealt {
    color: #00C3AA!important
}

.name {
    float: right;
    color: #27aae1
}

.axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px
}

text {
    stroke: none;
    fill: #666;
    font-size: .8em;
    font-family: "Helvetica Neue"
}

.label {
    fill: #414241
}

.dot {
    opacity: .7
}

.riskoptmap[data-tooltip] {
    position: relative
}

.riskoptmap[data-tooltip]::after,
.riskoptmap[data-tooltip]::before {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

.riskoptmap[data-tooltip]:hover::after,
.riskoptmap[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible
}

.riskoptmap[data-tooltip]::before {
    background-color: #4D8DCE;
    border-radius: 3px;
    top: -7px;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    right: 120%;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-left: -146px;
    padding: 7px;
    position: absolute;
    text-align: center;
    width: 160px
}

.turtleBox ul li span.pull-left {
    width: 60%;
    text-align: left
}

.riskoptmap[data-tooltip]::after {
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4D8DCE;
    top: 22%;
    content: " ";
    font-size: 0;
    right: 95%;
    line-height: 0;
    margin-left: -5px;
    position: absolute;
    width: 0;
    border-top: 5px solid transparent
}

.docContainercls li .doctypecls a.cancelDoc {
    position: absolute;
    left: -7px;
    top: -9px;
    display: inline-block;
    width: auto;
    transform: none
}

#loaderDv {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    z-index: 9
}

#loaderDv i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px
}

.custom_radio {
    display: inline-block;
    margin: 5px 2px
}

.custom_radio [type=radio]:checked,
.custom_radio [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px
}

.custom_radio [type=radio]:checked+label,
.custom_radio [type=radio]:not(:checked)+label {
    position: relative;
    cursor: pointer;
    line-height: 10px;
    display: inline-block;
    color: #fff;
    border: 3px solid #4d8dce;
    padding: 10px;
    font-weight: 400;
    z-index: 1
}

.default a,
.noCurserCls {
    cursor: default
}

.department option:nth-child(2) {
    font-weight: 700
}

.custom_radio [type=radio]:not(:checked)+label {
    color: #666
}

.custom_radio [type=radio]:checked+label::after,
.custom_radio [type=radio]:not(:checked)+label::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #4d8dce;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: -1;
    border: 3px solid #4d8dce
}

.custom_radio [type=radio]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.custom_radio [type=radio]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1.01);
    transform: scale(1.01)
}

.pt0 {
    padding-top: 0!important
}

.executionCls .row.repeter {
    border-bottom: 1px solid #c5c5c5
}

.executionCls .row.repeter:last-child {
    border: none
}

.executionCls .row.repeter textarea {
    resize: none
}

div.auditee-details,
div.issue-details {
    background: #fff;
    border: 1px solid #4d8dce;
    border-radius: 5px;
    color: #000;
    display: none;
    margin-top: 8px;
    padding: 10px;
    position: sticky;
    z-index: 1
}

li.auditee-name:hover div.auditee-details,
li.process-name:hover div.issue-details {
    display: block
}

.segment {
    display: table;
    width: 100%;
    margin: 0
}

.segment-date {
    font-size: 10px;
    display: inline-block;
    float: right;
    padding-top: 3px
}

.tab-block .nav-tabs>li.active>a,
.tab-block .nav-tabs>li.active>a:focus,
.tab-block .nav-tabs>li.active>a:hover {
    color: #4D8DCE;
    font-weight: 700;
    border-color: #ccc #ccc #fff
}

.tab-block .tab-content {
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel-body {
    border-color: #ccc;
    padding: 15px
}

.admin-form tbody tr td {
    vertical-align: center
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding-left: 4px;
    padding-right: 4px
}

.dayleft,
.overdue {
    margin: 0 0 5px;
    padding: 0;
    width: 112px;
    text-align: center
}

.overdue {
    border: 1px solid red;
    border-radius: 5px;
    color: red
}

.dayleft {
    border: 1px solid #f90;
    border-radius: 5px;
    color: #f90
}

.panel-body p {
    padding: 0 10px
}

.list-group.list-group-links .list-group-item {
    padding: 4px 9px!important
}

.overview-segment-check {
    min-height: 115px;
    cursor: pointer
}

.overview-segment-head.active {
    border: 3px solid #4d8dce!important
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

#passwordresetpassword .field input {
    padding-left: 38px!important
}

#passwordresetpassword .field .field-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    text-align: center;
    cursor: pointer
}

#passwordresetpassword .field .field-icon .fa {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

#risk-opp-action .checkbox-custom input[type=checkbox]:checked+label::after,
#risk-opp-action .checkbox-custom input[type=radio]:checked+label::after,
#steps-form .checkbox-custom input[type=checkbox]:checked+label::after,
.checkbox-custom input[type=radio]:checked+label::after {
    top: 1px
}

.per20 {
    width: 20%
}

.per40 {
    width: 40%
}

.per60 {
    width: 60%
}

.per80 {
    width: 80%
}

.per100 {
    width: 100%
}

[v-cloak] {
    display: none
}

.turtleBox ul li:hover {
    background: #d9d9d9;
    color: #333;
    cursor: default
}

.tooltip-extended {
    background: #4d8dce;
    border-radius: 3px;
    color: #fff;
    max-width: 300px;
    overflow-y: auto;
    padding: 7px 10px;
    text-align: justify
}

.nocursorCls {
    cursor: default
}

.turtleBox1 {
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    margin-bottom: 20px
}

.greenCls,
.yellowCls {
    border: 2px solid #FFF
}

.turtleBox1 ul {
    height: 136px;
    margin: 0;
    overflow: auto;
    padding: 0
}

.turtleBox1 ul li:nth-child(2n+1) {
    background: #d9d9d9
}

.turtleBox1 ul li:nth-child(2n+2) {
    background: #e6e6e6
}

.turtleBox1 ul li {
    list-style: none;
    padding: 5px 10px
}

.outer-panel {
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: auto;
    width: 90%
}

.inner-panel {
    height: 100%;
    white-space: nowrap
}

.panel-extended {
    width: 20%;
    z-index: 1
}

#map-div .process-cls {
    height: 48px
}

.greenCls {
    background-color: #4CAF50
}

.yellowCls {
    background-color: #F90
}

.department {
    color: #FB6820;
    font-size: 10px;
    text-translateform: uppercase;
    border-color: translateparent
}

.jqxtree {
    overflow-y: auto!important
}

#position-list .fa-pencil:hover {
    color: #fff;
    background-color: #6fbb47;
    padding: 2px;
    border-radius: 3px
}

#position-list .fa-trash:hover {
    color: #fff;
    background-color: #fb6820;
    padding: 2px;
    border-radius: 3px
}

.bl {
    border-left: 1px solid #BBB!important;
    border-bottom: 1px solid #BBB!important;
    border-right: 1px solid #BBB!important
}

#user-list-switch .switch-extended {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 44px
}

input:checked+#user-list-switch .slider-extended::before {
    translateform: translatelateX(13px)
}

#user-list-switch .slider-extended::before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    translateition: all .4s ease 0s;
    width: 13px
}

#service-position-handover .modal-body {
    max-height: 600px;
    overflow-y: auto
}

#service-position-handover .text-grey {
    font-weight: 400;
    color: #797b7c
}

.bg-grey {
    background-color: #dddddd
}

.ui-datepicker {
    border: 1px solid #b3b4b4!important
}

.ui-datepicker .ui-datepicker-header {
    border-bottom: 1px solid #b3b4b4!important
}

.ui-datepicker td a,
.ui-datepicker td span {
    color: #4C4A49!important
}

.ui-datepicker .ui-state-active,
.ui-datepicker .ui-state-highlight,
.ui-datepicker-today a,
.ui-datepicker-today a:hover {
    background-color: #4C4A49!important;
    color: #fff!important
}

#action-by-member-form textarea {
    min-height: 20px
}

#action-by-member-form .gui-textarea {
    width: 240px!important
}

#action-by-member-form .overdue {
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 3px
}

#action-by-member-form .dayleft {
    color: #f90;
    border: 2px solid #f90;
    border-radius: 5px;
    padding: 3px
}

.company-names:hover {
    background-color: #55B6EF!important;
    cursor: pointer!important
}

.error {
    box-shadow: red 0 0 1.5px 1px
}

.docContainercls .doc-del-btn {
    left: 20%;
    position: absolute;
    top: 0;
    z-index: 1
}

.procedure-form .doc-del-btn {
    left: 74%;
    position: absolute;
    top: 20%;
    z-index: 1
}

.resources-form .doc-del-btn {
    left: 66%;
    position: absolute;
    top: 20%;
    z-index: 1
}

#audit-execute-form .admin-form .checkbox {
    border: none
}

#audit-execute-form textarea {
    min-height: auto
}

#audit-execute-form .btn-sm {
    padding: 8px 12px
}

#audit-execute-form #visited_location {
    min-height: 250px;
    min-width: 100%
}

#audit-execute-form .referenceCls {
    min-height: 100px
}

#audit-execute-form .functions,
.functions-del {
    height: auto;
    width: auto
}

#audit-execute-form .btn-span {
    padding-top: 8px
}

#audit-execute-form .system-btn {
    padding: 1.4px 6px
}

#audit-execute-form .danger-btn {
    padding: 2.5px 7px
}

#audit-execute-form .executionDoc {
    background: #898885;
    color: #fff!important
}

#audit-execute-form .pl0 {
    padding-left: 0
}

#audit-execute-form .pr0 {
    padding-right: 0
}

#audit-execute-form .pt2 {
    padding-top: 2px
}

#audit-execute-form .icon-span {
    position: relative;
    top: 5px
}

#audit-execute-form .icon-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-left: -23px
}

#audit-execute-form .fa-2x {
    font-size: 1.8em
}

#audit-execute-form .ae-iso {
    max-width: 10%
}

#audit-execute-form .ae-ref {
    min-width: 24.5%
}

#audit-execute-form .ae-ft {
    width: 17%
}

#audit-execute-form .ae-btn {
    max-width: 4.5%
}

#audit-prepare-edit .ui-datepicker {
    border: 1px solid #b3b4b4!important
}

#audit-prepare-edit .ui-datepicker .ui-datepicker-header {
    border-bottom: 1px solid #b3b4b4!important
}

#audit-prepare-edit .ui-datepicker td span,
.ui-datepicker td a {
    color: #4C4A49!important
}

#audit-prepare-edit .ui-datepicker #audit-prepare-edit .ui-state-active,
#audit-prepare-edit .ui-datepicker #audit-prepare-edit .ui-state-highlight,
#audit-prepare-edit .ui-datepicker-today a,
#audit-prepare-edit .ui-datepicker-today a:hover {
    background-color: #4C4A49!important;
    color: #fff!important
}

#audit-prepare-edit .admin-form .checkbox {
    border: none
}

#departments .checkbox-custom input[type=checkbox]:checked+label::after,
.checkbox-custom input[type=radio]:checked+label::after {
    top: 4px
}

#report-issue-action .ui-datepicker {
    border: 1px solid #b3b4b4!important
}

#report-issue-action .ui-datepicker .ui-datepicker-header {
    border-bottom: 1px solid #b3b4b4!important
}

#report-issue-action .ui-datepicker td span,
.ui-datepicker td a {
    color: #4C4A49!important
}

#report-issue-action .ui-datepicker-today a,
.ui-datepicker .ui-state-active,
.ui-datepicker .ui-state-highlight,
.ui-datepicker-today a:hover {
    background-color: #4C4A49!important;
    color: #fff!important
}

#report-issue-action textarea {
    min-height: 20px
}

#report-issue-action .overdue {
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 3px
}

#report-issue-action .dayleft {
    color: #f90;
    border: 2px solid #f90;
    border-radius: 5px;
    padding: 3px
}

.useraddonsection {
    position: relative;
    margin: 30px 0
}

#context-analysis-form .radio-custom label,
#procedure-form .radio-custom label,
#stakeholder-form .radio-custom label {
    margin-right: 15px
}

.overview-segment-head {
    border: 3px solid #b4bbbf !important;
    cursor: pointer;
}
.overview-segment-head.active {
    border: 3px solid #4d8dce !important;
}
.admin-form .panel-body {
    min-height: 260px;
}

.useraddonsection::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 19%;
    width: 68%;
    height: 1px;
    background: #ddd;
    z-index: 0;
    transform: translateX(-50%);
}

.useraddonsection-addon::before {
    left: 57% !important;
    width: 50% !important;
    transform: translateX(-64%) !important;
}

.useraddonsection .radio-custom {
    display: inline-block;
    text-align: center;
    width: 16.1%;
    vertical-align: top
}

.useraddonsection .radio-custom label {
    padding: 26px 0 0
}

.radio-custom label::before {
    background: #fff;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%
}

#context-analysis-form .radio-custom label::after,
#context-analysis-form .radio-custom label::before,
#procedure-form .radio-custom label::after,
#procedure-form .radio-custom label::before,
#stakeholder-form .radio-custom label::after,
#stakeholder-form .radio-custom label::before {
    left: 10px
}

.radio-custom input[type=checkbox]:checked+label::after,
.radio-custom input[type=radio]:checked+label::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%)
}

.addondetails h4 {
    color: #659cd5;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px
}

.ui-datepicker {
    z-index: 1151!important
}

.risk-segment ul {
    height: 100px!important;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0
}

.risk-segment ul li:nth-child(2n+1) {
    background: #d9d9d9
}

.risk-segment ul li:nth-child(2n+2) {
    background: #e6e6e6
}

.risk-segment ul li {
    list-style: none;
    padding: 5px 10px
}

.doctypecls .doc-del-btn {
    bottom: 42%;
    display: block;
    left: 27%;
    position: absolute;
    z-index: 1
}

.max-hght-extended {
    max-height: 90px;
    overflow-y: auto
}

#procedures-archive .doc-download-btn {
    left: 21%;
    position: relative;
    z-index: 1;
    top: -20px
}

#procedures-archive .doc-del-btn {
    left: 26%;
    position: relative;
    z-index: 1;
    top: 3px
}

#procedures-archive .doc-view-btn {
    position: relative;
    left: 22%;
    z-index: 1;
    top: -9px
}

#risk-action-event-log .event-log {
    height: 400px!important;
    overflow: auto
}

#risk-action-event-log .segment ul {
    height: 400px;
    margin: 0;
    overflow: auto;
    padding: 0
}

#risk-action-event-log .segment ul li:nth-child(2n+1) {
    background: #d9d9d9
}

#risk-action-event-log .segment ul li:nth-child(2n+2) {
    background: #e6e6e6
}

#risk-action-event-log .segment ul li {
    list-style: none;
    padding: 5px 10px;
    text-align: left
}

#risk-action-event-log .segment .h-a {
    height: auto!important
}

#steps-form .process-roles-extended {
    display: inline-flex
}

#steps-form .side-extended {
    margin-right: 10px
}

@media (max-width:530px) {
    #steps-form .process-roles-extended {
        display: block
    }
}

.modal-dialog-extended {
    width: 900px
}

.middleBox ul {
    background-color: #bfd2ef
}

.turtle-details-modal-content {
    min-height: 600px
}

#edit-storage-plan .tab-block .nav-tabs>li.active>a,
.tab-block .nav-tabs>li.active>a:focus,
.tab-block .nav-tabs>li.active>a:hover {
    color: #4D8DCE;
    font-weight: 700;
    border-color: #ccc #ccc #fff
}

#edit-storage-plan .tab-block .tab-content {
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

#edit-storage-plan .tab-block .nav-tabs>li>a {
    border-color: #ccc
}

#edit-user-plan .tab-block .nav-tabs>li.active>a,
.tab-block .nav-tabs>li.active>a:focus,
.tab-block .nav-tabs>li.active>a:hover {
    color: #4D8DCE;
    font-weight: 700;
    border-color: #ccc #ccc #fff
}

#edit-user-plan .tab-block .tab-content {
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

#edit-user-plan .tab-block .nav-tabs>li>a {
    border-color: #ccc
}

#package-form .tab-block .nav-tabs>li.active>a,
.tab-block .nav-tabs>li.active>a:focus,
.tab-block .nav-tabs>li.active>a:hover {
    color: #4D8DCE;
    font-weight: 700;
    border-color: #ccc #ccc #fff
}

#package-form .tab-block .tab-content {
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

#package-form .tab-block .nav-tabs>li>a {
    border-color: #ccc
}

#position-demo .modal-dialog { width: 970px;}
#context-demo .modal-dialog { width: 970px;}
#stakeholder-demo .modal-dialog { width: 970px;}
#video-tutorial .modal-dialog { width:970px; }

@media only screen and (min-width: 1440px){
    #position-demo .modal-dialog { width: 80%;}
    #position-demo .modal-dialog iframe{height: 800px;}

    #context-demo .modal-dialog { width: 80%;}
    #context-demo .modal-dialog iframe{height: 800px;}

    #stakeholder-demo .modal-dialog { width: 80%;}
    #stakeholder-demo .modal-dialog iframe{height: 800px;}

    #video-tutorial .modal-dialog { width: 80%;}
    #video-tutorial .modal-dialog iframe{height: 800px;}
}

#position-demo video {
    width: 800px
}

.cross-hair {
    cursor: move !important
}

#get-started-popup-body .switch-extended {
    width: 47px;
    height: 28px;
    vertical-align: middle;
    margin-bottom: 2px!important
}

#get-started-popup-body .slider-extended:before {
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

#get-started-popup-body input:checked+.slider-extended:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px)
}

#get-started-popup-body .switch-custom-pos {
    top: 1px
}
.delegatedoctypecls {
    position: relative;
    display: inline-block;
}
.delegatedoctypecls a {
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
}
.delegatedoctypecls a .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#audit-execute-form .functions{
    width:40px;
    height:40px;
}
#audit-execute-form .functions i{
    font-size:20px;
}
#audit-execute-form .danger-btn{
    width:40px;
    height:40px;
}

#audit-execute-form .danger-btn i{
    font-size:20px;
}

.disp-flex {
    display: inline-flex;
}

/*################### 09-05-18 ##########################*/
.panel-body.videothumbs {

    padding: 0 9px !important;
    background: #4c4a49;

}
.panel-body.videothumbs .col-md-12 {

    margin-bottom: 0;
    color: #fff;
    padding: 2px 5px !important;

}
.panel-body.videothumbs .col-md-12 img {

    margin-bottom: 3px;

}
.panel-body.videothumbs .col-md-12 span {

    color: #fff;
    font-weight: bold;

}
.panel-body.videothumbs .col-md-12 .fa {

    position: absolute;
    -webkit- transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    color: #4c4a49;
    font-size: 30px;

}

table thead tr.bg-system td{
    background-color: #4d8dce !important;
    color: #edf3fa;
}

@media only screen and (max-width: 979px){
    #position-demo .modal-content { width: 100%; right: auto;}
    .videomodalpositionlist{height: 300px;}

    #context-demo .modal-content { width: 100%; right: auto;}
    .videomodalpositionlist{height: 300px;}
}

/*##################### 15-05-18 ####################*/
.table-layout  .inactive_bgs {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    padding: 0 !important;
    z-index: 9;
}
.table-layout  .inactive_bgs h2 {
    font-size: 120px;
    text-transform: uppercase;
    transform: rotate(-35deg) translate(-50%, -50%);
    position: absolute;
    left: 46%;
    top: 25%;
    color: #fff;
}
#content .table-layout{table-layout: inherit;}

.tooltip-inner {
    max-width: 500px !important;
}

/*########### 21-05-18 ################*/
.executionCls-extended .row:nth-child(2){
    background: #bec2c4;
    padding: 10px 0;
}
.audittabContent{padding-top: 0 !important;}
/*##################### 25-05-18 #####################*/
.Detailbadge span {
    padding: 1px 5px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    margin: 0 2px;
    display: inline-block;
}
#tab6_1{padding-top: 20px;}

.invoice-view{
    font-size: 25px !important;
}

/*############### 14-06-18 ##############*/
#contextMap .turtleBox ul{ padding-top: 20px; }
#contextMap  .row.blueBoxline .panel .panel-body ul li{ z-index: 999; }

.form-control-extended {
    padding: 7px 12px;
    font-size: 15px;
    line-height: 1;
    color: #797b7c;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #bcbdbd;
    border-radius: 4px;
}

.checkbox-custom-extended input[type="checkbox"]:checked + label::after, 
.checkbox-custom-extended input[type="radio"]:checked + label::after {
    top: 4px !important;
}

.modal-dialog-started {
    width: 1000px;
    margin: 60px auto;
}

/*################## 22-06-18 ##################*/
.vidList { border: 1px solid #ddd; padding: 10px; position: relative; margin-bottom: 10px;}
.vidList:last-child{margin-bottom: 0;}
.vidList .vidImg { width: 13%; position: relative; border: 1px solid #ddd; border-radius: 8px; overflow: hidden; float: left; height: 100px; cursor: pointer;}
.vidList .vidImg img {width: 100%;}
.vidList .vidImg .fa { position: absolute; transform: translate(-50%, -50%);left: 50%; top: 50%; font-size: 30px; opacity: 0.8;}
.vidList .vidDesc {float: left; padding: 0 15px; width:78%;}
.vidList .vidDesc p{padding: 0;}
.vidList .vidView { border-radius: 6px; padding: 5px 25px; position: absolute; right: 10px; bottom: 10px;}
.vidHelpIcon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid #00c3aa;
    text-align: center;
    vertical-align: middle;
    margin: 11px 5px;
    color: #00c3aa;
    background: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}
div.switch-started label {
    width: 47px;
    height: 10px !important;
}
div.switch-started label::after {
    background: #55b6ef;
    top: -4px;
}
div.switch-started input:checked + label::after {
    left: 29px;
    top: -4px;
}
.panel-title-shadow {
    box-shadow: 2px 4px 5px #7f7f70;
    position: relative;
    overflow: visible;
    transition: all 0.1s ease;
}
.panel-title-shadow.active {
    box-shadow: 2px 9px 10px #7f7f70;
    transform: scale(1.01);
    z-index: 99;
    position: relative;
}
.panel.panel-tile.panel-title-shadow.active .bg-light {
    background: #d6eaff;
}
.checkbox-custom-step1 {
    z-index: 1;
    position: absolute;
    right: -4px;
    top: -4px;
    color: #fff;
    background: #4d8dce;
    font-size: 13px !important;
    padding: 5px;
}
.round-button {
    display:block;
    width:40px;
    height:40px;
    line-height:36px;
    border: 2px solid #4d8dce;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #4d8dce;
    font-weight:bold;
}
.round-button:hover {
    background: #3273b6;
}
.statusHead{
    width: 140px; 
}
.vidhelplink{
    padding: 0 !important;
}

.full-width{
    width:100%;
}
ul.select2-selection__rendered {
    padding-right: 30px !important;
}

ul.select2-selection__rendered:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.information {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
}
.information i {
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
}
.getstarted-tree ul {
    margin-bottom: -10px !important;
    margin-top: -15px !important;
}
ul.getstarted-tree, ul.getstarted-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 
ul.getstarted-tree ul {
    margin-left: 10px;
}
ul.getstarted-tree li {
    margin: 10px;
    padding: 0 7px;
    line-height: 28px;
    color: #369;
    font-weight: bold;
    border-left:1px solid #b4bbbf;
}
.getstarted-tree ul:fist-child li:first-child {
    border-left:none;
}
ul.getstarted-tree li:last-child {
    border-left:none;
}
ul.getstarted-tree li:before {
    position:relative;
    top:-0.3em;
    height:1em;
    width:12px;
    color:white;
    border-bottom:1px solid #b4bbbf;
    content:"";
    display:inline-block;
    left:-7px;
}
ul.getstarted-tree > li:first-child::before, ul.getstarted-tree > li:last-child::before {
    border-left: none !important;
    border-bottom: none !important;
    width: 0;
    height: 0;  
}
ul.getstarted-tree li:last-child:before {
    border-left:1px solid #b4bbbf;   
}
ul.getstarted-tree li span {
    padding: 3px;
    border-radius: 5px;
    border : 1px solid #b4bbbf;
    margin-left: -8px;
    font-size: 12px;
    font-weight: 300;
}
.prntcls{
    margin-top: -3px;
    margin-right: -6px;
}
.multiprocs{
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 5px;
}
/*############## 03-07-18 ##################*/
.jobDescTable th{text-align: center;}
.jobDescTable td, .jobDescTable th{ border-color: #cbcbcb !important;  }
.tableNoBorder td, .tableNoBorder th{ border: none !important; }
.jobDescTable .noPadding{padding: 0 !important;}
.jobDescTable .noPadding td, .jobDescTable .noPadding th{border-left: none !important;}
.jobDescTable .noPadding tbody tr:first-child td{ border-top: none !important; }
.jobDescTable .noPadding tbody tr:last-child td{ border-bottom: none !important; }
.subTableHeading th{ background: #dbdbdb; border-right: 1px solid #cbcbcb !important;}
/*################# 04-07-18 ###############*/
.rankSwitchAction{ display: block; width: 39px; height: 21px; }
.rankSwitchAction .slider-extended::before{ height: 15px; width: 15px; left: 2px; bottom: 3px; }
.rankSwitchAction input:checked + .slider-extended::before{-webkit-transform: translateX(20px); -ms-transform: translateX(20px); transform: translateX(20px);}
.bg-secondary { background: #ddd;}
.tablScroll tbody {
    display:block;
    max-height:150px;
    overflow:auto;
}
.tablScroll thead, .tablScroll tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
/*.tablScroll thead {
    width: calc( 100% - 1em )
}*/
.tablScroll table {
    width:100%;
}
.img-border {
    border-left: 1px solid #afb0b1
}
.user-img-icon {
    left: 88px;
    top: 10px;
}
/*########### 09-07-18 ###############*/
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #dbdbdb !important;
}
.posfilter > span {
    display: inline-block;
    line-height: 40px;
    padding-right: 10px;
    font-weight: bold;
}
.posfilter a.btn {
    line-height: 21px;
}
.actionwdth {
    width: 42% !important;
}
.rating-comment {
    width: 100%;
    min-height: 228px !important;
}

.branchPops .col-md-4 .btn {
    min-width: 80px;
}
.mxWidth670{ width: 800px; }

/*################### 19-07-18 #####################*/
.py11 { padding: 11px 0;}
#action-segment .btn{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.border-rad-5 .btn{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

button,input{ outline: none; }

.info-icon50{
    margin-left: -50px;
}
.info-icon15{
    margin-left: -15px;
}
.datatable3_filterSelect{
    margin-bottom: 5px !important;
}
.buttons-pdf{
    color: #ffffff !important;
    background-color: #4d8dce !important;
    border-color: #3273b6 !important;
}
button.dt-button, div.dt-button, a.dt-button{
    background-image: none;
}
button.dt-button:hover, div.dt-button:hover, a.dt-button:hover{
     background-image: none !important;
     background-color: #4d8dce !important;
}

.vidtutfix .tray-center{
    height: auto !important;
    max-height: 500px !important;
}


/*########### 26-07-18 ################*/

#datatable3_filterWrapper {
    display: inline-block;
    float: left;
    margin-right: 30px;
    width: 170px;
}
#datatable3_filterWrapper select {
    max-width: auto !important;
}

.alert {
    z-index: 2;
}

.defultCusrsor a{
    cursor: default;
}

/*################## 31-07-18 ################*/
.vidList .vidImg iframe {
    width: 100%;
    height: 100%;
}
.vidList .vidImg a {
    position: absolute;
    width: 100%;
    height: 100%;
}

#content-footer.affix{
    z-index: 10;
}

#service-handover-date {
    padding: 0px 12px;
}

input[type="date"]{
    line-height: 24px;
}

.userPhoto {
    display: inline-block;
    position: relative;
}
.userPhoto .user-img-icon {
    position: absolute;
    right: 0;
    top: -8px;
}

/*############17Th August 2018 for Kpi relation Graph #############*/

div.treeview {
    min-width: 100px;
    min-height: 100px;
    
    max-height: 256px;
    overflow:auto;
  
  padding: 4px;
  
  margin-bottom: 20px;
  
  color: #369;
  
  border: solid 1px;
  border-radius: 4px;
}
div.treeview ul:first-child:before {
    display: none;
}
.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    
  color: #369;
}
.treeview ul {
    margin-left:1em;
    position:relative
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2.5em;
    font-weight:700;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:8px;
    position:absolute;
    top:0.8em;
    left:0
}
.tree-indicator {
    margin-right:5px;
    
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;
    
    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.turtle-graph-modal-content {
    min-height: 300px
}

.treeview li{
    cursor: pointer !important;
}

.treeview li span {
    border: 1px solid #4d8dce; 
    border-radius: 5px; 
    padding: 3px;
    background : repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        #e8e8e8 10px,
        #e8e8e8 20px
    );
    color : #000;
    font-weight: 300;
}

.bord-rad-5 {
    border-radius: 5px; 
}

.userPhoto {
    display: inline-block;
    position: relative;
}
.userPhoto .user-img-icon {
    position: absolute;
    right: 0;
    top: -8px;
}

.select2-offscreen,
.select2-offscreen:focus {
  // Keep original element in the same spot
  // So that HTML5 valiation message appear in the correct position
  left: auto !important;
  top: auto !important;
}

.bg-default {
    background-color: #fff !important;
}

.info-td-cls {
    font-size: 10px;
    font-weight: bold;
}
.info-td-cls a{
    font-size: 13px;
    float: right;
}

.ui-datepicker .ui-datepicker-next[title="Suivant"] {
    right: 18px;
}


/*############## 06-09-18#########*/
.radio-custom.radio-system label::before, 

.radio-custom.radio-system input[type="radio"]:checked + label::after{ left: 10px; }
.dblock{display: block !important;}
.video-icon-pos {
    top: 50%;
    left: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 56px;
}

.max-height-400 {
    max-height: 400px;
}

/*############### 07-09-18 ################*/
.vidImg.videocls.pointer iframe#player1 {
    width: 100%;
    height: inherit;
}
.vidImg.videocls.pointer img {
    max-width: 100%;
}

/*################ 10-09-18 ##################*/
.pointerNone{
    pointer-events: none;
}
.popVidImg{ display: block; position: absolute; width: 100%; height: 100%;}

/*################### 25-09-18 ###################*/
.progCustom{width: 200px; display: inline-block; margin: 0; vertical-align: middle;}

.border-system {
    border: 3px solid #4d8dce !important;
}

/*################### 25-09-18 ###################*/
.progCustom{width: 200px; display: inline-block; margin: 0; vertical-align: middle;}

#teamNotify{display: inline-block;}


.switch-modified label::after {
    margin-left: 3px !important;
}

.switch-modified input:checked + label::after {
    left: 22px !important;
}


/*################## 04-10-18 ###################*/
#compitentTable th, #compitentTable td{
    white-space: nowrap;
    height: 50px;
    min-width: 120px;
}
.table-responsive{ width: 100%; }
.disableTable { cursor: not-allowed; opacity: 0.2; background: #ddd; height: 38px;}

.switch-modified label::after {
    margin-left: 3px !important;
}

.switch-modified input:checked + label::after {
    left: 22px !important;
}

.ui-state-disabled {
    opacity: 0.5;
}

.show-cmps {
    cursor: pointer;
}

/*################ 25-10-18 ############### */
.table.subTableHeading th {white-space: normal !important; min-width:120px;}

/*############## 28-10-18 ##############*/

.supplier-text-align {
    writing-mode: vertical-lr; display: inline-block; transform: rotate(180deg);
}

.min-h-39 {
    min-height: 39px !important;
}

.widthFull{ width: 100% !important; }

.min-h-39:focus {
    height: 80px !important;
    transition-duration: 5s;
}

select option:disabled {
    color: #bcbdbd;
}

.w100 {
    width: 100px;
}

.text-transparent {
    color: transparent;
    font-size: 0px;
}

#datatable3_filterWrapper {
    width: auto !important;
}

.datatable3_filterSelect {
    margin-right: 3px !important;
    width: auto !important;
}

.doc-map-height {
    max-height: 400px;
    overflow-y: auto;
}

.supplier-parameters-height {
    max-height: 230px;
    overflow-y: auto;
    overflow-x: hidden !important;
}

#datatable3_filterSelect1{
    width: 200px !important;
}

#datatable3_filterSelect2{
    width: 200px !important;
}

.supplier-evaluation-modal {
    width: 80%;
}

.threshold::after {
    content: "%";
    position: absolute;
    top: 11px;
    right: 0;
}

.competent-table-wrapper {
    position: relative;
}

.competent-table-scroller {
    margin-left: 40%;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
    width: 60%;
}

.competent-table-table .competent-table-sticky-col {
    left: 0;
    position: absolute;
    width: 15%;
    white-space: unset !important;
    border-right: none !important;
}

.competent-table-table .competent-table-sticky-col1 {
    left: 15%;
    position: absolute;
    width: 25%;
    white-space: unset !important;
    border-left: 1px solid #eeeeee;
}

.jobDescTable {
    border-collapse: unset !important;
}
