$font-stack:    Roboto, Helvetica, sans-serif;
$primary-color: #333 !important;
$background: #000 !important;
$length: 24px;
$zero: 0;
$color-black: #000000;
$none: none;
$center: center;

html, body {
  font-family: $font-stack;
}

.demo-avatar {
  width: $length*2;
  height: $length*2;
  border-radius: $length;
}

.demo-layout {
	.mdl-layout__header {
		.mdl-layout__drawer-button {
			color: rgba($color-black, .54);
		}	
	}
}

.mdl-layout__drawer {
	.avatar {
  		margin-bottom: $length - 8;
	}
}

.demo-drawer {
  border: $none;
}

.demo-drawer {
	.mdl-menu__container {
  		z-index: $zero - 1;
	}
}

.demo-drawer {
	.demo-navigation {
  		z-index: $zero - 2;
  	}
}

.demo-drawer  {
	.mdl-menu {
		.mdl-menu__item {
			display: -ms-flexbox;
			display: flex;
		  	-ms-flex-align: $center;
	      	align-items: $center;
		}
  	}
}

.demo-drawer-header {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: $length - 8;
	height: 151px;
}